{% load static%}
<!DOCTYPE html>
<html lang="en">


<!-- blank.html  21 Nov 2019 03:54:41 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>EMS-A</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
    {% block css%}
    {% endblock css%}
</head>

<body>
  <div class="loader"></div>
  {% block content%}

  {% endblock content%}
   <!-- General JS Scripts -->
  {% block javascript%}
  {% endblock javascript%}
  <script src="{% static 'assets/js/app.min.js'%}"></script>

  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js'%}"></script>


</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>