{% extends "base.html"%}
{% block content%}
{% load crispy_forms_tags %}
<!-- Main Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <form class="needs-validation" novalidate="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-header">
                    <h4> Create Employee</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in form %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            {{ field|as_crispy_field }}
                            <div class="invalid-feedback">
                                Required
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- main container -->
{% endblock content%}
